@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  @apply h-16 w-16 my-16 mx-auto relative;
}

.double-bounce1,
.double-bounce2 {
  @apply w-full h-full rounded-full bg-teal-300 opacity-60 absolute top-0 left-0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
